{% extends 'base.html' %}
{% block title%}login{% endblock%}
   {% block content %}
  <h1>login</h1>
  <div class ="form-container">
  <form action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors%}
    <div style="color: red">
      {% for error in form.non_field_errors %}
          {{ error }}
      {% endfor %}
    </div>
    {% endif %}
    <div>{{form.email.label_tag}}
         {{form.email}}
    </div>
    <div>
       {{form.password.label_tag}}  
       {{form.password}}
    </div>
    
    <input type="submit" value="login">
  </form>
  <br>
  <p><a href="{% url 'reset_password' %}">forget password</a></p>
</div>
  {%endblock%}